body {
    text-align:center;
    background: #add8e6;
    color: #800080;
}

/* Thumbnail images sized to 200x200 */
.thumb1 {
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: inline-block;
}
.thumb2 {
    width: 500px;
    height: 500px;
    /*  object-fit: cover; */
    display: inline-block;
}
.thumb3 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
}
